<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-8 text-center">
            <h1 class="display-4 mb-4">Welcome to MVC Framework</h1>
            <p class="lead mb-4">Your PHP MVC Framework is running successfully!</p>
            
            <div class="card mt-4">
                <div class="card-body">
                    <h5 class="card-title">Getting Started</h5>
                    <p class="card-text">To start building your application:</p>
                    <ul class="list-unstyled text-start">
                        <li>✅ Create controllers in <code>app/Controllers/</code></li>
                        <li>✅ Create models in <code>app/Models/</code></li>
                        <li>✅ Create views in <code>app/Views/pages/</code></li>
                        <li>✅ Define routes in <code>routes.php</code></li>
                    </ul>
                </div>
            </div>

            <div class="mt-4">
                <h5>Framework Features</h5>
                <div class="row mt-3">
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <h6>Twig Templates</h6>
                                <p class="small">Powerful templating engine</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <h6>Optional Database</h6>
                                <p class="small">Works with or without DB</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <h6>Email Service</h6>
                                <p class="small">PHPMailer integration</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


